# Dependências do adaptador Web Push, resolução verificada em 14/09/2026.
pywebpush==2.5.0
py-vapid==1.9.4
http-ece==1.2.1
requests==2.34.2
aiohttp==3.14.3
aiohappyeyeballs==2.7.1
aiosignal==1.4.0
attrs==26.1.0
charset-normalizer==3.5.1
frozenlist==1.8.0
multidict==6.8.0
propcache==0.5.2
urllib3==2.7.0
yarl==1.24.5
